.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
.logo{
    height: 59px;
    color: black;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.logo {
    max-height: 50px !important;
}